<div class="jumbotron">
  <h1>Appli Manga</h1>
  <form name="form" ng-controller="FormCtrl">
    <input type="search"placeholder="Entrer votre manga" name="the_search" />
    <input type="submit" value="Rechercher" ng-click="" />

    <div class="filters">
      <div class="statut">
      <input type="checkbox" ng-model="mangaend"> Publication terminée<br />
      <input type="checkbox" ng-model="mangaprogress"> Publication en cours<br />
      <input type="checkbox" ng-model="lastmanga"> Dernier chapitre publié 
      </div>
    </div>
  </form>
</div>
<div ng-controller="listCtrl">
  <ul>
    <li ng-repeat = "manga in mangas" ><a href="#/manga/{{manga.i}}"><img src="https://cdn.mangaeden.com/mangasimg/{{manga.im}}" alt="{{manga.t}}" title="{{manga.t}}" />{{manga.t}}</a></li> <!--attention à modif au besoin-->
  </ul>
</div>

