<div class="search">
  <h1>Appli Manga</h1>
<!--   <ul>
    <li><a href="#/list">Mangas' List ;)</a></li>
  </ul> -->
  <div class="home">
    <a href="#/list">Liste des mangas</a><br />
    <p>ou <br />
    Rechercher votre manga</p>
  </div>
  <form name="form" ng-controller="formCtrl">
    <input type="search"placeholder="Votre manga" name="search" />
    <input type="submit" value="Sagasu" ng-click="" />

    <div class="filters">
      <div class="statut">
      <input type="checkbox" ng-model="mangaend">Terminé
      <input type="checkbox" ng-model="mangaprogress">En cours
      </div>
    </div>
      <div >
          <ul class="list_manga">
              <li ng-repeat = "manga in mangas |  orderBy:manga.t:false | limitTo:10 " ><a href="#/manga/{{manga.i}}">
                  <div class="img_manga"><img src="https://cdn.mangaeden.com/mangasimg/{{manga.im}}" alt="{{manga.t}}" title="{{manga.t}}" /></div>
                  <div class="titre_manga">{{manga.t}}</div></a>
              </li> <!--attention à modif au besoin-->
          </ul>
      </div>
  </form>
</div>
