<div ng-controller="mangaCtrl">
    <!-- {{test}} -->
  <h2>{{manga.t}}</h2> <!--T = title - attention, sûrement à modif-->

  <div class="couv_manga">
    <img src="https://cdn.mangaeden.com/mangasimg/{{manga.im}}" /> <!--im = manga's image - attention, sûrement à modif-->
  </div>
  
  <div>
    Statut : <span>{{manga.s}}</span> <!--s = status - attention, sûrement à modif-->
  </div>
  <div>
  Dernier chapitre :  <span><a href="https://www.mangaeden.com/api/chapter/[chapter.id]/">{{manga.ld | date:'dd/MM/yyyy'}}</a></span>  <!--ld = last chapter date - attention, sûrement à modif-->
  </div>

  <div>
  Note :  <span>{{manga.h}}</span>  <!--h = hits - attention, sûrement à modif-->
  </div>
  <div class="avis">
    <span><a class="btn" ng-click"likeManga()">Like</a></span>
    <span><a class="btn"  ng-click"dislikeManga()">Dislike</a></span>
    <span><a class="btn"  ng-click"readManga()">Read</a></span>
    <span><a class="btn"  ng-click"noreadManga()">No read</a></span>
  </div>
</div>