<div ng-controller="mangaCtrl">
    <!-- {{test}} -->
  <h2>{{manga.t}}</h2> <!--T = title - attention, sûrement à modif-->

  <div class="couv_manga">
    <img src="https://cdn.mangaeden.com/mangasimg/{{manga.im}}" /> <!--im = manga's image - attention, sûrement à modif-->
  </div>
  
  <div>
    Statut : <span>{{manga.s}}</span> <!--s = status - attention, sûrement à modif-->
  </div>
  <div>
  Dernier chapitre :  <span><a href="https://www.mangaeden.com/api/chapter/[chapter.id]/">{{manga.ld | date : 'dd/MM/yyyy'}}</a></span>  <!--ld = last chapter date - attention, sûrement à modif-->
  </div>
  <div class="avis">
  <like-manga></like-manga>
  <dislike-manga></dislike-manga>
  <read-manga></read-manga>
  <noread-manga></noread-manga>

</div>